<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    

    function aesEncrypt(data, key, iv, bits, mode) {
        if (mode == 'cbc') {
            mode = CryptoJS.mode.CBC
        } else {
            mode = CryptoJS.mode.ECB
        }
        // key = CryptoJS.enc.Utf8.parse(key)
        // iv = CryptoJS.enc.Utf8.parse(iv)
        console.log(key)
        const cipher = CryptoJS.AES.encrypt(data, key, {
            iv: iv, // parse the IV 
            padding: CryptoJS.pad.Pkcs7,
            mode: mode,
            
        })
        return cipher.toString()
    }

    function aesDecrypt(data, key, iv, bits, mode) {
        if (mode == 'cbc') {
            mode = CryptoJS.mode.CBC
        } else {
            mode = CryptoJS.mode.ECB
        }
        
        // key = CryptoJS.enc.Utf8.parse(key)
        // iv = CryptoJS.enc.Utf8.parse(iv)
        const cipher = CryptoJS.AES.decrypt(data, key, {
            iv: iv, // parse the IV 
            padding: CryptoJS.pad.Pkcs7,
            mode: mode,
            
        })
        return cipher.toString(CryptoJS.enc.Utf8)
    }

    function set_result(result) {
        document.getElementById("result_data").innerHTML = result
    }

    function encrypt(text_data, key, iv, bits, mode) {
        // Encode the String
        var encodedStringBtoA = aesEncrypt(text_data, key, iv, bits, mode);
        console.log(encodedStringBtoA)
        var encodedStringBtoA = aesDecrypt(text_data, key, iv, bits, mode);
        console.log(encodedStringBtoA)

        if (encodedStringBtoA) {
            set_result(encodedStringBtoA)
        } else {
            
        }
    }

    function decrypt(text_data, key, iv, bits, mode) {
        // Encode the String
        var decodedString = aesDecrypt(text_data, key, iv, bits, mode);

        if (decodedString) {
            set_result(decodedString)
        } else {
            
        }
    }

    function get_checked_value(options) {
        for (var option of options) {
            if (option.checked) {
                return option.value;
            }
        }
        return false
    }
    
    function encryptWithKey(plaintext, key){
        var encrypted = CryptoJS.AES.encrypt(plaintext, key, { mode: CryptoJS.mode.ECB });
        console.log("Ciphertext (Base64):\n" + encrypted.toString());        // Ciphertext
        var decrypted = CryptoJS.AES.decrypt(encrypted.toString(), key, { mode: CryptoJS.mode.ECB });
        console.log("Decrypted:\n" + decrypted.toString(CryptoJS.enc.Utf8)); // Plaintext
    }
    
    var key = CryptoJS.enc.Hex.parse('000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f');
    var key = CryptoJS.enc.Utf8.parse('a')
    console.log(key)
    encryptWithKey('a', key);
    encryptWithKey('a', key);

    function call_server(function_name) {
        var textString = 'Hello world'; // Utf8-encoded string
        var words = CryptoJS.enc.Utf8.parse(textString); // WordArray object
        var base64 = CryptoJS.enc.Base64.stringify(words); // string: 'SGVsbG8gd29ybGQ='

        var base64 = 'SGVsbG8gd29ybGQ=';
        var words = CryptoJS.enc.Base64.parse(base64);
        var textString = CryptoJS.enc.Utf8.stringify(words); // 'Hello world'

        encryption_key = document.getElementById("encryption_key").value
        if (encryption_key == "") {
            alert("Enter encryption key");
            document.getElementById("encryption_key").focus();
            return false;
        }

        encryption_iv = document.getElementById("encryption_iv").value
        if (encryption_iv == "") {
            alert("Enter encryption IV value");
            document.getElementById("encryption_iv").focus();
            return false;
        }

        var bits = get_checked_value(document.getElementsByName('bits'))
        if (bits == false) {
            alert("Enter bits");
            return false;
        }
        var mode = get_checked_value(document.getElementsByName('mode'))
        if (mode == false) {
            alert("Enter mode");
            return false;
        }

        text_data = document.getElementById("raw_input").value
        if (text_data == "") {
            alert("Enter text to be encoded");
            document.getElementById("raw_input").focus();
            return false;
        }

        switch (function_name) {
            case "aes-encryption":
                // code block
                encrypt(text_data, encryption_key, encryption_iv, bits, mode)
                break;
            case "aes-decryption":
                // code block
                decrypt(text_data, encryption_key, encryption_iv, bits, mode)
                break;
            default:
                // code block
        }



    }
</script>