<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}
{{ partial "js/encoding_js.html" . }}
{{ partial "js/common_js.html" . }}

<body>
    {{ partial "header.html" . }}
    <!-- MOBILE NAVIGATION -->
    {{ partial "mobile.html" . }}

    <main>
        <div class="container">
            <div class="row">
                <!-- ARTICLES -->
                <div class="col-lg-8 col-xs-12">
                    <section class="articles">
                        <article>
                            <div class="articles-header">
                                <h4>
                                    <a title="" href="">{{ .Params.Title }}</a>
                                </h4>
                            </div>
                            <div class="articles-content">
                                    <p class="" ></p>
                                    <textarea name="" id="raw_input" rows="10" style="border: 1px solid var(--primary-color); min-width: 100%" placeholder="{{ .Params.textarea_label }}"></textarea>
                            </div>
                            <div
                                class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
                                
                                <button title="" class="btn"
                                    href="" onclick="call_server('{{ .Params.function }}')">{{ .Params.button_title }}</button>

                                    
                            </div>

                            <div class="articles-content">
                                <h4 class="mb-4 font-semibold">
                                    {{ .Params.result_label }}
                                </h4>
                                <p id="result_data">
    
                                </p>
                            </div>

                            <div
                                class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
                                </div>

                                <div
                                class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
                                
                               

                                    <button onclick="copy_text(); return false;" class="btn">
                                        Copy Text
                                        <span class="ml-2" aria-hidden="true">+</span>
                                        </button>
                            </div>
                            
                        </article>

                        
                    </section>
                </div>

                <!-- AUTHOR -->
                <div class="aside-blocks col-lg-4 col-xs-12">

                    {{ partial "tools-sidebar.html" . }}

                    {{ partial "advertisement.html" . }}

                    

                    {{ partial "tags.html" . }}
                </div>
            </div>
        </div>
    </main>
    {{ partial "footer.html" . }}

</body>

</html>