<section class="advertisement">
    <a href="http://amazon.in/music/prime?tag=toolsforcode-21">
        <img srcset="{{ "./images/Enjoy_Free_Music_300x250.jpg" | relURL }}" src="{{ "./images/Enjoy_Free_Music_300x250.jpg" | relURL }}"
            alt="Advertisement">
    </a>

    <!-- <a href="https://www.amazon.in/POCO-Storage-Camera-Display-Battery/dp/B0B3TFDPL3?qid=1663538261&refinements=p_n_feature_five_browse-bin%3A28169493031%2Cp_n_operating_system_browse-bin%3A1485077031%2Cp_36%3A1318506031&rnid=1318502031&s=electronics&sr=1-19&th=1&linkCode=li2&tag=toolsforcode-21&linkId=36fdca784ba44b505ae17746f5487732&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0B3TFDPL3&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=toolsforcode-21&language=en_IN" ></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=toolsforcode-21&language=en_IN&l=li2&o=31&a=B0B3TFDPL3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    <script type="text/javascript" language="javascript">
        var aax_size='300x250';
        var aax_pubname = 'toolsforcode-21';
        var aax_src='302';
      </script>
      <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script> -->
</section>