<section class="author">
    <img src="./images/profile-picture_2x.webp" alt="Profile picture" width="100" height="100">
    <h2>Bill Gates</h2>
    <span class="author-info">Front-End Developer</span>
    <span class="author-info">Microsoft Company</span>
    <div class="author-social d-flex align-items-center justify-content-center">
        <a href="" class="social-icon"
            title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="" class="social-icon"
            title="Github"><i class="fab fa-git"></i></a>
        <a href="" class="social-icon"
            title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <ul class="author-nav">
        <li><a class="d-flex align-items-center"
                href="" title=""><i
                    class="pe-7s-bookmarks"></i> Download my CV</a></li>
        <li><a class="d-flex align-items-center"
                href="" title=""><i
                    class="pe-7s-paper-plane"></i> Write message</a></li>
    </ul>
</section>