<section class="categories">
    <h2 class="aside-blocks-title">Categories</h2>
    <ul>
        <li class="nav-elipse-blue"><a
                href=""
                title="Blog CSS articles">CSS</a></li>
        <li class="nav-elipse-red"><a href=""
                title="Blog HTML articles">HTML</a></li>
        <li class="nav-elipse-yellow"><a
                href=""
                title="Blog Javascript articles">Javascript</a></li>
        <li class="nav-elipse-green"><a
                href=""
                title="Blog raphic articles">Graphic</a></li>
        <li><a href=""
                title="Blog other articles">Other</a></li>
    </ul>
</section>