<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WP76ZRERD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7WP76ZRERD');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="font" href='{{ "./css/fonts/lato-v20-latin-ext_latin-regular.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/lato-v20-latin-ext_latin-700.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/lato-v20-latin-ext_latin-900.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/merriweather-v27-latin-ext_latin-regular.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/merriweather-v27-latin-ext_latin-700.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/merriweather-v27-latin-ext_latin-900.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/Pe-icon-7-stroke.woff" | relURL }}' type="font/woff">
    <link rel="stylesheet" href='{{"./css/all.css" | relURL }}'
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preload" as="image" href='{{ "./images/photo1.webp" | relURL }}'>
    <link rel="preload" as="image" href='{{ "./images/photo2.webp" | relURL }}'>
    <link rel="preload" as="image" href='{{ "./images/photo1_2x.webp" | relURL }}'>
    <link rel="preload" as="image" href='{{ "./images/photo2_2x.webp" | relURL }}'>
    <link rel="stylesheet" href='{{"./css/main.css" | relURL }}'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />
    <title>{{ if .Params.Title }}{{ .Params.Title }}{{ else }}Toolsforcode - Free handy tools to help you while coding{{ end }}</title>
    <meta property="og:title" content="{{ if .Params.Title }}{{ .Params.Title }}{{ else }}Toolsforcode - Free handy tools to help you while coding{{ end }}" />
    <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}Toolsforcode - Free handy tools to help you while coding{{ end }}" />
    <meta name="robots" content="index, follow" />
    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:src" content="" />
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Toolsforcode",
        "url": "https://www.toolsforcode.com",
        "logo": ""
        }
    </script>
</head>