<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="font" href='{{ "./css/fonts/lato-v20-latin-ext_latin-regular.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/lato-v20-latin-ext_latin-700.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/lato-v20-latin-ext_latin-900.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/merriweather-v27-latin-ext_latin-regular.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/merriweather-v27-latin-ext_latin-700.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/merriweather-v27-latin-ext_latin-900.woff2" | relURL }}' type="font/woff2">
    <link rel="preload" as="font" href='{{ "./css/fonts/Pe-icon-7-stroke.woff" | relURL }}' type="font/woff">
    <link rel="stylesheet" href='{{"./css/all.css" | relURL }}'
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preload" as="image" href='{{ "./images/photo1.webp" | relURL }}'>
    <link rel="preload" as="image" href='{{ "./images/photo2.webp" | relURL }}'>
    <link rel="preload" as="image" href='{{ "./images/photo1_2x.webp" | relURL }}'>
    <link rel="preload" as="image" href='{{ "./images/photo2_2x.webp" | relURL }}'>
    <link rel="stylesheet" href='{{"./css/main.css" | relURL }}'>
    <title>DBlog - Blog for Developers</title>
</head>