<section class="tags">
    <h2 class="aside-blocks-title">Tags</h2>
    <ul class="tags-content">
        <li class="badge rounded-pill"><a
                href="">graphic</a></li>
        <li class="badge rounded-pill"><a
                href="">angular2</a></li>
        <li class="badge rounded-pill"><a
                href="">graphic</a></li>
        <li class="badge rounded-pill"><a
                href="">react</a></li>
        <li class="badge rounded-pill"><a
                href="">it</a></li>
        <li class="badge rounded-pill"><a
                href="">science</a></li>
    </ul>
</section>