<section class="banners">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="" title="Leveling up in CSS">
                        <div class="banner-wrapper-content">
                            <h2 class="h4">Leveling up in CSS</h2>
                            <span class="banner-wrapper-content-tag category-tag-white">CSS</span>
                            <time datetime="2022-01-18" class="banner-wrapper-content-time">January 18, 2022</time>
                        </div>
                    </a>
                    <img class="img-fluid" srcset="./images/photo1.webp 767w" src="./images/photo1_2x.webp"
                        alt="Post Photo" width="428" height="366">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href=""
                        title="Evolving the Google Identity">
                        <div class="banner-wrapper-content">
                            <h2 class="h4">Evolving the Google Identity</h2>
                            <span class="banner-wrapper-content-tag category-tag-white">Graphic</span>
                            <time datetime="2022-01-18" class="banner-wrapper-content-time">January 18, 2022</time>
                        </div>
                    </a>
                    <img class="img-fluid" srcset="./images/photo2.webp 767w" src="./images/photo2_2x.webp"
                        alt="Post Photo" width="428" height="366">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href=""
                        title="Angular 2 versus React: There Will Be Blood">
                        <div class="banner-wrapper-content">
                            <h2 class="h4">Angular 2 versus React: There Will Be Blood</h2>
                            <span class="banner-wrapper-content-tag category-tag-white">JAVASCRIPT</span>
                            <time datetime="2022-03-01" class="banner-wrapper-content-time">March 1, 2022</time>
                        </div>
                    </a>
                    <img class="img-fluid" srcset="./images/photo3.webp 767w" src="./images/photo3_2x.webp"
                        alt="Post Photo" width="271" height="233">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href=""
                        title="The End of Global CSS">
                        <div class="banner-wrapper-content">
                            <h2 class="h4">The End of Global CSS</h2>
                            <span class="banner-wrapper-content-tag category-tag-white">HTML</span>
                            <time datetime="2022-01-18" class="banner-wrapper-content-time">January 18, 2022</time>
                        </div>
                    </a>
                    <img class="img-fluid" srcset="./images/photo4.webp 767w" src="./images/photo4_2x.webp"
                        alt="Post Photo" width="271" height="233">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href=""
                        title="Building an CSS Framework">
                        <div class="banner-wrapper-content">
                            <h2 class="h4">Building an CSS Framework</h2>
                            <span class="banner-wrapper-content-tag category-tag-white">CSS</span>
                            <time datetime="2022-01-18" class="banner-wrapper-content-time">January 18, 2022</time>
                        </div>
                    </a>
                    <img class="img-fluid" srcset="./images/photo5.webp 767w" src="./images/photo5_2x.webp"
                        alt="Post Photo" width="271" height="233">
                </div>
            </div>
        </div>
    </div>
</section>