<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

{{ partial "head.html" . }}

<body>
  <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
    {{ partial "desktop-sidebar.html" . }}
    <!-- Mobile sidebar -->
    <!-- Backdrop -->
    {{ partial "mobile-sidebar.html" . }}
    <div class="flex flex-col flex-1 w-full">
      {{ partial "header.html" . }}
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container grid px-6 mx-auto">
          

          <div class="mt-6 px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <h3 class="text-l font-semibold text-gray-700 dark:text-gray-200">
              Useful Tools
            </h3>
          </div>
          <!-- CTA -->
          {{ partial "leader-adsense.html" . }}

          

          <!-- With actions -->
          <h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Encoding
          </h3>

          {{ partial "encoding.html" . }}

          <!-- With actions -->
          <h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Encryption
          </h3>

          {{ partial "encryption.html" . }}

          {{/*  <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
              {{ partial "base64_tools.html" . }}
              {{ partial "encryption_tools.html" . }}

              
            </div>

            
            
          </div>  */}}
        </div>
      </main>
    </div>
  </div>
</body>

</html>