<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->


    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500 mb-4">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            </svg>
        </div>
        <a href="/aes-encryption-online">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes Encryption Online
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>



    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-green-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-decryption-online">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes Decryption Online
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Decrypts a given encrypted string using AES Decryption Algorithm
                </p>
            </div>
        </a>
    </div>

    {{/*
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-128-encryption">

            <div>

                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes 128 encryption
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>

    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-green-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-128-decryption">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes 128 decryption
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>

    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-192-encryption">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes 192 encryption
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>

    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-green-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-192-decryption">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes 192 decryption
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>

    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-256-encryption">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes 256 encryption
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>

    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-green-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">

            </svg>
        </div>
        <a href="/aes-256-decryption">

            <div>
                <p class="text-md font-semibold text-gray-700 dark:text-gray-200 mb-2 ">
                    Aes 256 decryption
                </p>
                <p class="text-sm font-medium text-gray-600 dark:text-gray-400">
                    Encrypts a given string using AES Encryption Algorithm
                </p>
            </div>
        </a>
    </div>  */}}




</div>