<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />
    <title>Toolsforcode - Free handy tools to help you while coding</title>
    <meta property="og:title" content="Toolsforcode - Free handy tools to help you while coding" />
    <meta name="description" content="Toolsforcode - Free handy tools to help you while coding" />
    <meta name="robots" content="index, follow" />
    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:src" content="" />
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Toolsforcode",
        "url": "https://www.toolsforcode.com",
        "logo": ""
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/tailwind.output.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="/js/init-alpine.js"></script>
  </head>