<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

{{ partial "head.html" . }}
{{ partial "js/encryption_js.html" . }}
{{ partial "js/common_js.html" . }}

<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
        {{ partial "desktop-sidebar.html" . }}
        <!-- Mobile sidebar -->
        <!-- Backdrop -->
        {{ partial "mobile-sidebar.html" . }}
        <div class="flex flex-col flex-1 w-full">
            {{ partial "header.html" . }}
            <main class="h-full pb-16 overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                    {{/*  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        Tools
                    </h2>  */}}

                    <div class="grid gap-6 mb-8 md:grid-cols-2">
                        <section property="breadcrumb" class="container max-w-screen-xl mx-auto mt-8 px-8 md:px-24">
                            <a href="{{ .Site.BaseURL }}">Home</a> >
                            <a href="{{.Permalink}}">{{.Params.Title}}</a>
                        </section>
                    </div>
                    {{ partial "leader-adsense.html" . }}
                    <!-- General elements -->
                    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                        {{ .Params.Title }}
                    </h4>



                    <div class="grid gap-6 mb-8 md:grid-cols-2">
                        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                            

                            <label class="block text-sm">
                                <span class="text-gray-600 dark:text-gray-400 font-semibold">Enter Key</span>
                                <input
                                    id="encryption_key"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    placeholder=""
                                    value="000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f">
                            </label>

                            <label class="mt-4 block text-sm">
                                <span class="text-gray-600 dark:text-gray-400 font-semibold">Enter Iv</span>
                                <input
                                    id="encryption_iv"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    placeholder=""
                                    value="000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f">
                            </label>

                            {{/*  <div class="mt-4 text-sm">
                                <span class="text-gray-600 dark:text-gray-400 font-semibold">
                                  Key Size in Bits
                                </span>
                                <div class="mt-2">
                                  <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                                    <input type="radio" checked class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="bits" value="128">
                                    <span class="ml-2">128</span>
                                  </label>
                                  <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                    <input type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="bits" value="192">
                                    <span class="ml-2">192</span>
                                  </label>
                                  <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                    <input type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="bits" value="256">
                                    <span class="ml-2">256</span>
                                  </label>
                                </div>
                              </div>  */}}

                              <div class="mt-4 text-sm">
                                <span class="text-gray-600 dark:text-gray-400 font-semibold">
                                  Select Mode
                                </span>
                                <div class="mt-2">
                                  <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                                    <input type="radio" checked class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="mode" value="ecb">
                                    <span class="ml-2">ECB</span>
                                  </label>
                                  <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                    <input type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="mode" value="cbc">
                                    <span class="ml-2">CBC</span>
                                  </label>
                                </div>
                              </div>

                              <div class="mt-4 text-sm">
                                <span class="text-gray-600 dark:text-gray-400 font-semibold">
                                  Encoding Options
                                </span>
                                <div class="mt-2">
                                  <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                                    <input type="radio" checked class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="encoding" value="hex">
                                    <span class="ml-2">Hex</span>
                                  </label>
                                  <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                    <input type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="encoding" value="utf8">
                                    <span class="ml-2">Utf8</span>
                                  </label>
                                </div>
                              </div>

                            
                              <label class="mt-4 block text-sm">
                                <span class="text-gray-600 dark:text-gray-400 font-semibold">{{ .Params.textarea_label }}</span>
                                <textarea id="raw_input"
                                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                rows="5" placeholder="Enter text"></textarea>
                            </label>

                            

                            <div class="flex mt-6 text-sm">
                                
                                <label class="flex items-center dark:text-gray-400">
                                    <button onclick="call_server('{{ .Params.function }}')"
                                        class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                        {{ .Params.button_title }}
                                        <span class="ml-2" aria-hidden="true">+</span>
                                    </button>
                                </label>
                            </div>

                        </div>
                        <div class="min-w-0 p-4 text-grey bg-white rounded-lg shadow-xs">
                            <h4 class="mb-4 font-semibold">
                                {{ .Params.result_label }}
                            </h4>
                            <p id="result_data">

                            </p>

                            <div class="flex mt-6 text-sm">
                                
                                <label class="flex items-center dark:text-gray-400">
                                    <button onclick="copy_text(); return false;"
                                        class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                        Copy Text
                                        <span class="ml-2" aria-hidden="true">+</span>
                                    </button>
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
            </main>
        </div>
    </div>
</body>

</html>